body {
    background-color: black;
    margin-bottom: 30px;
    margin-top: 20px;
}

.motion__header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .motion__alert {
    width: 400%; 
    max-width: 800px; 
    display: block; 
    margin-top: 5px; 
    image-rendering: pixelated;
  }

  .image__body {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .motion__image {
    width: 900%; 
    max-width: 700px; 
    display: block; 
    margin-top: 5px; 
    image-rendering: pixelated;
  }

.text {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    color: #41b4ff;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size:30px;
}

.space {
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size:50px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.15rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -0px 4px black,
                 -0px 8px red,
                 -0px 12px #7e57c2,
                 -0px 16px #2196f3,
                 -0px 20px #26c6da,
                 -0px 24px #43a047,
                 -0px 28px #eeff41,
                 -0px 32px #f9a825,
                 -0px 36px #ff5722;
  }
  
  a {
    margin-bottom: 45px;
  }