html, body {
  overflow-x: hidden;
}

body {
    position: relative;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 100%;
}

.motion__header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .motion__alert {
    width: 360%; 
    max-width: 700px; 
    display: block; 
    margin-top: 5px; 
    image-rendering: pixelated;
  }

  .image__body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  .motion__image {
    width: 360%; 
    max-width: 700px; 
    display: block; 
    margin-top: 5px; 
    image-rendering: pixelated;
  }

.text {
  color: white;
  display: flex;
  justify-content: center;
  background-color: transparent;
  max-width: 100%;
  float: center;
  font-size: 170%;
  word-wrap: break-word;
}

.text2 {
  color: white;
  display: flex;
  justify-content: center;
  background-color: transparent;
  max-width: 100%;
  float: center;
  word-wrap: break-word;
}

.text3 {
  color: white;
  display: flex;
  justify-content: center;
  background-color: transparent;
  max-width: 100%;
  float: center;
  font-size: 170%;
  word-wrap: break-word;
  text-shadow: -0px 2px black,
                 -0px 4px #7e57c2,
                 -0px 6px #2196f3,
                 -0px 8px #26c6da,
                 -0px 10px #eeff41,
                 -0px 12px #ff5722;
}

a {
    color: #41b4ff;
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 150%;
    word-wrap: break-word;
}

.space {
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    font-size:260%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.15rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -0px 4px black,
                 -0px 8px red,
                 -0px 12px #7e57c2,
                 -0px 16px #2196f3,
                 -0px 20px #26c6da,
                 -0px 24px #43a047,
                 -0px 28px #eeff41,
                 -0px 32px #f9a825,
                 -0px 36px #ff5722;
  }
  
  a {
    margin-bottom: 45px;
  }

  .big {
    width: 20%;
  }

  .big__space {
    padding: 15px;
}

  .motion__catalog img{
    width: 20%;
  }

  .twitter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
  }
  .twitterimg {
    width:100%;
    min-width:30px;
  }
